#section1{
    background-color:#49C61A;
   background-size: cover;
}

#section2{
    background-color:#224A83;
   background-size: cover;
}

#section3{
    background-color:#2A0D60;
   background-size: cover;
}

.section{
    text-align: center;
    color: white;
}